@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #444;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333;
    box-shadow: 3px 3px 3px #f6dada;
    padding: 0 20px;
    z-index: 1000;
}

.logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px;

}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    margin-left: -8%;
}

.nav a {
    color: black;
    text-decoration: none;
    background-color: transparent;
    border-radius: 20px;
    padding: 6px 15px;
    cursor: pointer;
    font-size: 1.4em;
    margin: 0 7px;
    border: 2px solid transparent;
}

.nav a:hover {
    color: aqua;
    background-color: #555;
    border: 2px solid aqua;
}

/* nav a:not(:hover) {
    color: black;
    background-color: #555;
    border: 2px solid black;
} */

/* nav select {
    border: none;
    background-color: #555;
    font-size: 1em;
}

nav select:hover {
    color: aqua;
    background-color: #555;
    border: 2px solid aqua;
}
nav option {
    border: none;
} */

.nav i {
    font-size: 18px;
    padding-right: 10px;
    align-items: center;
}

.login-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.login-btn {
    display: flex;
    align-items: center;
    color: black;
    background-color: transparent;
    border-radius: 20px;
    padding: 5px 15px;
    margin-right: 15%;
    cursor: pointer;
    font-size: 1.4em;
    border: 2px solid transparent;
}
.login-container a {
    text-decoration: none;
}

.login-btn i {
    padding-right: 10px;
    font-size: 18px;
}

.login-btn:hover {
    color: aqua;
    background-color: #555;
    border-color: aqua;
}

.login-btn:not(:hover) {
    color: black;
    background-color: #555;
    border: 2px solid black;
}

/* Home Section */

section {
    padding-top: 100px;
    min-height: 100vh;
}

.text {
    position: relative;
    padding-top: 100px;
}
.home-logo {
    position: absolute;
    top: 90px;
    left: 15%;
}
/* .text h1 {
    font-size: 35px;
    color: white;
    position: absolute;
    top: 100px;
    text-transform: capitalize;
    padding-left: 6.5%;
} */

.text p {
    font-size: 60px;
    color: yellow;
    position: absolute;
    top: 165px;
    font-style: italic;
    padding: 25px;
    width: 850px;
    background: linear-gradient(90deg, yellow 0%, yellow 30%, red 50%, yellow 70%, yellow 100%);
    background-size: 200%;
    background-clip: text;
    color: transparent;
    animation: colorChange 5s infinite linear alternate;
}

@keyframes colorChange {
    0% {
        background-position: 0%;
    }
    100% {
        background-position: 100%;
    }
}

.text h2 {
    font-size: 30px;
    color: white;
    position: absolute;
    top: 375px;
    font-style: italic;
    padding-left: 24%;
}

.text h2 span {
    color: #0ef;
}

.learn-more {
    position: absolute;
    top: 425px;
    left: 50px;
    color: black;
    background-color: transparent;
    border-radius: 20px;
    padding: 6px 15px;
    cursor: pointer;
    font-size: 1.5em;
    border: 2px solid;
    transition: transform .6s ease-in-out;
}

.learn-more:hover {
    color: aqua;
    background-color: #555;
    border-color: aqua;
    transform: scale(1.05);
}

.learn-more:not(:hover) {
    color: black;
    background-color: #555;
    border: 2px solid black;
}

.images {
    position: relative;
}

.img1 {
    position: absolute;
    right: 30px;
    top: 20px;
}

.img1 img {
    width: 700px;
    height: auto;
    animation: bouncing 5s ease-in-out 0s infinite alternate;
    filter: drop-shadow(0px 0px 3px yellow);
}

@keyframes bouncing {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-50px);
    }
}

/* About Section */

.about {
    position: relative;
}

.image1 img {
    position: absolute;
    top: 275px;
    left: 40px;
    animation: bouncing 5s ease-in-out 0s infinite alternate;
    filter: drop-shadow(0px 0px 3px green);
}

.about-text1 {
    position: relative;
}

.about-text1 h2 {
    font-size: 40px;
    position: absolute;
    top: 75px;
    left: 48%;
    color: white;
    padding-bottom: 40px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
}

.about-text1 h2 span {
    color: aqua;
}

.about-text1 p {
    font-size: 27px;
    color: white;
    position: absolute;
    top: 125px;
    left: 46.5%;
    font-style: italic;
    padding: 25px;
    width: 800px;
}

.about-us {
    position: absolute;
    top: 510px;
    left: 48%;
    color: black;
    background-color: transparent;
    border-radius: 20px;
    padding: 6px 15px;
    cursor: pointer;
    font-size: 1.5em;
    border: 2px solid;
    transition: transform .6s ease-in-out;
}

.about-us:hover {
    color: aqua;
    background-color: #555;
    border-color: aqua;
    transform: scale(1.05);
}

.about-us:not(:hover) {
    color: black;
    background-color: #555;
    border: 2px solid black;
}

.models {
    position: relative;
    min-height: 125vh;
}

.title {
    position: absolute;
    top: 110px;
    left: 18%;
}

.container {
    width: 88vmin;
    position: absolute;
    top: 350px;
    right: 2.5%;
    overflow: hidden;
}

.wrapper {
    width: 100%;
    display: flex;
    animation: slide 14s infinite alternate;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(0);
    }
    30% {
        transform: translateX(-100%);
    }
    50% {
        transform: translateX(-100%);
    }
    55% {
        transform: translateX(-200%);
    }
    75% {
        transform: translateX(-200%);
    }
    80% {
        transform: translateX(-300%);
    }
    100% {
        transform: translateX(-300%);
    }
}
.wrapper img {
    width: 100%;
    border-radius: 15px;
}

.text-overlay p {
    position: absolute;
    top: 200px;
    left: 2.5%;
    font-size: 30px;
    font-weight: 500;
    color: rgb(240, 240, 118);
    font-style: italic;
    width: 50%;
}


.model-details {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(2, 325px);
    justify-content: left;
    text-align: center;
    width: 700px;
    gap: 20px;
    top: 300px;
    left: 4%;
}

.model-items {
    text-align: center;
    border: 2px solid rgb(95, 184, 167);
    box-shadow: 0px 0px 3px 3px rgb(128, 123, 123);
    border-radius: 10px;
    padding: 20px;
    /* height: 250px; */
    transition: transform 0.6s ease-in-out;
}

.model-items:hover {
    transform: scale(1.03);
}

.model-items img {
    width: 150px;
    height: 100px;
    object-fit: cover;
    border-radius: 15px;
}

.model-items h2 {
    color: aqua;
    padding-top: 10px;
}

.model-items a {
    text-decoration: none;
    color: white;
    background-color: red;
    border: 2px solid white;
    padding: 10px;
    margin-top: 15px;
    border-radius: 20px;
    display: inline-block;
}

.text-overlay h6 {
    position: absolute;
    top: 94%;
    left: 2.5%;
    font-size: 30px;
    font-weight: 500;
    font-style: italic;
    width: 50%;
    color: rgb(240, 240, 118);
}

#contact {
    min-height: 150vh;
}

.container2 {
    margin: 50px 0px;
}

.contact h2 {
    padding-left: 2.5%;
    padding-top: 40px;
    font-size: 35px;
    font-weight: 600;
    color: #0ef;
}
.contact1 {
    background-color: transparent;
    box-shadow: 1px 1px 10px 1px #f6dada;
    margin: auto;
    width: 60%;
    padding: 40px 0px;
    border-radius: 12px;
}

.contact1 input{
    width: 85%;
    margin: 10px 50px;
    height: 45px;
    border-radius: 10px;
    border: 0.5px solid #d7d7d7;
    font-size: 18px;
    padding: 10px;
    background-color: transparent;
}

.contact1 textarea {
    width: 85%;
    height: 70px;
    margin: 10px 50px;
    padding: 10px;
    font-size: 18px;
    border: 0.5px solid #d7d7d7;
    border-radius: 10px;
    background-color: transparent;

}
.contact1 label {
    font-size: 25px;
    font-weight: 500;
    padding-left: 50px;
    color: #0ef;
}

.contact button {
    width: 30%;
    margin: 10px 50px;
    font-size: 25px;
    font-weight: 600;
    border: 2px solid black;
    background-color: aqua;
    color: black;
    padding: 10px;
    border-radius: 15px;
    cursor: pointer;
}

.icon-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px; 
}

.icon {
    display: flex;
    align-items: center;
}

.icon a {
    text-decoration: none;
    padding: 20px;
    color: #0ef;
    font-size: 25px;
    font-weight: 500;
    transition: transform 0.6s ease-in-out;
}

.icon a:hover {
    transform: scale(1.05);
}

.icon a i {
    color: black;
    padding-right: 5px;
    font-size: 30px;
}

.icon1 h2 {
    text-align: center;
    font-size: 30px;
    padding-top: 5px;
    color: red;
}

.icon1 h3 {
    text-align: center;
    font-size: 20px;
    padding-top: 15px;
    color: red;
}

footer {
    text-align: center;
    font-size: 25px;
    color: #0ef;
    padding: 10px;
    background-color: #333;
    position: relative;
    bottom: 0;
    left: 0;
}







